@import url("https://fonts.googleapis.com/css2?family=Neucha&display=swap");

.app {
  width: 100vw;
  min-height: 100vh; 
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #2f74c0;
  font-family: "Neucha", cursive;
  /* overflow-y: scroll; */
    background: #2C497F;
    

}
*{
  box-sizing: border-box;
}
.heading {
  text-transform: uppercase;
  font-size: 40px;
  margin: 30px 0;
  color: white;
  z-index: 1;
  text-align: center;
}

@media (max-width: 800px) {
  .heading {
    margin: 15px 0;
    font-size: 35px;
  }
}

body {
  margin: 0;
  overflow: scroll;
  background: #2C497F;
}

li {
  list-style: none;
}
a {
  color: inherit;
  text-decoration: none;
}


.section__padding {
  padding: 0 clamp(2rem, 6vw, 5rem);
}
.section__margin-top{
  margin-top: min(10.5vw, 5rem);
}
.app__btn_white {
  padding: 10px 33px;
  font-size: 1rem;
  line-height: 20px;
  color: #fff;

  cursor: pointer;
  display: flex;
  justify-content: center;
  align: center;
  flex-direction: row;
}

.app__btn_puple {
  padding: 10px 33px;
  font-size: 1rem;
  line-height: 20px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  cursor: pointer;
}
.flex__wrapper {
  display: flex;
}



.app__btn{
  padding: 0.4rem 0;
}


@media screen and (max-width: 620px) {
  .app__btn_puple,
  .app__btn_white {
    padding: 6px 24px;
  }
}


.app__navbar {
  /* padding: 15px 0; */
  /* z-index: 1000; */
  background-color: rgb(255, 255, 255, 0.13);
  box-shadow: 0 0 16px 9px rgba(0,0,0,0.07);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.navbar__container {
  display: flex;
  align-item: flex-end;
  justify-content: center;
}
.navbar__container-logo {
   display: flex;

}
.navbar__container-logo__image {
    display: flex;
    align-items: center;
}
.navbar__container-logo_header {
  max-height: 35px;
  display: inline-block;
  font-weight: 700;
  font-size: 32px;
  line-height: 34px;
  /* identical to box height, or 108% */

  color: #fff;



 
}

.navbar__auth{
  min-width: 252px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navbar__auth a, .navbar__auth button{
  padding: 10px 33px;
  font-size: 1rem;
  line-height: 20px;

  

}
.navbar__auth-login{
  border: 1px solid #fff;
  color: #fff;
}
.navbar__auth-signup{
  border: 1px solid #2f74c0;
  background: #fff;
  color: #2f74c0;
  align-self: flex-end;
}

.app__navbar-smallscreen{
  display: none;
}
.app__navbar-smallscreen_overlay{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #2C497F;
  transition: 0.5s ease;
  flex-direction: column;
  text-align: center;
  z-index: 5;

}
.app__navbar-smallscreen .overlay__open{
cursor: pointer;
}

.app__navbar-smallscreen_overlay .overlay__close{
  font-size: 27px;
  color: #fff;
  cursor: pointer;
  position: absolute;

  top: 26px;
  right: 50px;
}

.navbar__auth-smallscreen__button {
  background: inherit;
  border: none;
  outline: none;
}

 .navbar__auth-smallscreen a, .navbar__auth-smallscreen__button{
  margin: 2rem;
  cursor: pointer;
  color: #fff;
  display: block;
  font-size: 1.8rem;
  text-align: center;
  /* font-family: var(--font-base); */
}

@media screen and (max-width: 829px) {
  .app__navbar-smallscreen{
    display: block;
  }

  .navbar__auth, .navbar__auth a, .navbar__auth button {
    display: none;
  }

}



.scale-up-center {
    -webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
            animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2022-8-19 20:18:14
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation scale-up-center
 * ----------------------------------------
 */
 @-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
