
.input {
  display: flex;
  width: 95%;
  position: relative;
  
  align-items: center;
}

.input__box {
  width: 100%;
  border-radius: 50px;
  padding: 20px 30px;
  font-size: 25px;
  border: none;
  color: #fff;
  background-color: rgb(255, 255, 255, 0.13);
  transition: 0.2s;
  box-shadow: inset 0 0 5px black;
}

.input__box:focus {
  box-shadow: 0 0 10px 1000px rgba(0, 0, 0, 0.5);
  outline: none;
}

.input_submit {
  position: absolute;
  width: 50px;
  height: 50px;
  margin: 12px;
  border-radius: 50px;
  right: 0px;
  border: none;
  font-size: 15px;
  background-color: #2C497F;
  color: #fff;
  transition: 0.2s all;
  box-shadow: 0 0 10px black;
}

.input_submit:hover {
  background-color: #388ae2;
}

.input_submit:active {
  transform: scale(0.8);
  box-shadow: 0 0 5px black;
}

.container{
  display: flex;
  max-width: 100%;
  margin: 20px;
  /* gap: 40px; */
  justify-content: space-between;
  align-items: flex-start;
  /* flex-wrap: wrap; */
}
.todos {
  display: flex;
  align-items: center;
  flex-direction: column;
  /* justify-content: space-evenly; */
  max-width: 100%;
  margin: 10px;
  width: 32rem;
  padding: 15px;
  background: rgba(255, 255, 255, 0.13);
  box-shadow: 0px 0px 16px 9px rgba(0,0,0,0.07);
  border-radius: 5px;

}
.remove{
  box-shadow: 0px 0px 16px 9px rgba(0,0,0,0.07);
  background: #433B7C;
  
}
.progress {
  background: rgb(104, 234, 90);
  display: none;
}
.todos__heading {
  color: white;
  font-size: 1.6rem;
}
.todos__single {
  display: flex;
  /* max-width: 100%; */
  width: 100%;
  border-radius: 5px;
  padding: 20px 5px;
  margin-top: 15px;
  border: 2px solid gray;
  transition: 0.3s;
  background-image: url("https://img.freepik.com/free-photo/crumpled-yellow-paper-background-close-up_60487-2390.jpg?size=626&ext=jpg");
}
.todos__single:hover{
  box-shadow: 0 0 5px black;
  transform: scale(1.03);
}
.todos__single--text {
  flex: 1;
  padding: 5px;
  border: none;
  font-size: 20px;
}

.todos__single--text:focus {
  outline: none;
}

.icon {
  margin-left: 10px;
  font-size: 25px;
  cursor: pointer;
}

.dragactive {
  background: rgba(255, 255, 255, 0.63)
}

.dragcomplete {
  background-color: rgba(255, 255, 255, 0.63)

}

.dragprogress {
  background-color: rgba(255, 255, 255, 0.63);
}

.drag {
  box-shadow: 0 0 20px black;
}

@media (max-width: 880px) {

  .container {
    flex-wrap: wrap;
    justify-content: center;
  }

}
.signup{
  z-index: 20;
}


